# Ukryj dane wrażliwe
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Streamlit cache
.streamlit/config.toml
*.sqlite

# Mac/Windows system files
.DS_Store
Thumbs.db

# Ignorowanie systemowych plików i folderów
.MemuHyperv/
.android/
.bash_history
.cache/
.gitconfig
.limpc/
.matplotlib/
.vscode/
.vivaldi_reporting_data
AppData/
Contacts/
Cookies/
Dane aplikacji/
Documents/
Favorites/
Links/
Menu Start/
Moje dokumenty/
Music/
NTUSER.DAT
OneDrive/
Radeon-Software-Adrenalin-2020-21.10.1-Win10-Win11-64Bit-Oct5/
Recent/
Saved Games/
Searches/
SendTo/
Shutter Encoder/
UrbanVPN/
Ustawienia lokalne/
Videos/
curseforge/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
